<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            <!-- Llamamos el archivo header utlizando Handlebars -->
            {{>header}}

            <!-- Llamamos y mostramos el mensaje de error utilizando Handlebars -->
            {{ errorMessage }}
        </div>

        <!-- Llamamos el archivo footer utilizando Handlebars -->
        {{>footer}}
    </body>
</html>